include AUTHORS
include README.md
include LICENSE
include runtests.py
include setup.py
include tox.ini
recursive-include yape *
recursive-include tests *
recursive-include requirements *
recursive-exclude * *.py[co]
